button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    background-color: hsl(0, 0%, 40%);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
#buttons{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    padding: 25px;
}
#calculator{
    font-family: Arial, sans-serif;
    width: 560px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 20%);
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}
body{
    background: linear-gradient(black, grey);
}